* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  margin: 50px;
}

.intro {
  text-align: center;
  width: 50%;
  margin: auto;
}

.wrapper {
  border: solid 2px black;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  width: 45%;
  height: 40%;
}

.wrapper > * {
  display: block;
  margin: auto;
}

.wrapper input {
  margin-top: 25px;
  width: 90%;
  height: 25%;
  background-color: #E5E7EB;
  border-radius: 10px;
}

input::placeholder {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.wrapper button {
  margin-top: 20px;
  width: 90%;
  height: 25%;
  background-color: #284BCE;
  color: #fff;
  border-radius: 10px;
  border: solid 2px #284BCE;
  font-weight: 600;
}

.wrapper p {
  margin-top: 20px;
  margin-left: 70px;
  font-size: 14px;
  font-weight: 400;
}






.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}